.mainBody {
  background-color: rgb(9, 110, 110);
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 1;
}

.upper {
  width: 97.5%;
  height: 20%;
  margin-top: 20px;
  z-index: 2;
}

.lower {
  width: 97.5%;
  height: 75%;
  margin-top: 180px;
  z-index: 1;
}

.bodyStyle {
  background-color: rgb(186, 176, 242);
  position: absolute;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#viewTable {
  text-align: left;
}

#heading {
  float: left;
  font-family: "cursive";
  font-weight: bolder;
  font-style: oblique;
  font-size: 500%;
  text-align: center;
  text-shadow: 6px 6px 6px #440546;
  margin-top: 5px;
  color: rgb(14, 13, 13);
}

.topLayer {
  display: flex;
}

#imgOfLogo {
  align-items: center;
  width: 100px;
  margin-top: 10px;
  float: left;
  margin-left: 450px;
}

.styleTable {
  width: 600px;
  text-align: center;
  font-size: 30px;
  z-index: 2;
  position: absolute;
  margin-top: 25px;
  float: left;
}

#displayTable {
  margin-left: 350px;
}

#tableBody {
  margin-left: 17px;
  border-bottom: 1px solid antiquewhite;
}

.addClearBtn {
  margin-top: 15px;
  color: white;
  height: 62px;
  width: 62px;
  border-color: black;
  font-weight: bold;
  font-size: 150%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#addTask {
  float: left;
  margin-left: 1000px;
}

#clearTask {
  margin-left: 100px;
}

.addForm {
  height: 300px;
  width: 300px;
  margin-left: 38%;
  text-align: center;
  font-size: 110%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
  z-index: 3;
  display: none;
  background-color: aqua;
  position: absolute;
}

th,
td {
  width: 600px;
  margin-left: 25px;
  font-size: 30px;
  z-index: 2;
  position: relative;
  margin-top: 25px;
}

#cancelViewPopUp {
  margin-top: 10%;
}

.popUp {
  align-items: center;
  height: 25%;
  text-align: center;
  background-color: antiquewhite;
}

.removePopUp {
  width: 40%;
  margin-left: 30%;
  padding: 2%;
  position: absolute;
  z-index: 3;
  display: none;
}

#viewPopUp {
  align-items: left;
  height: 60%;
  text-align: left;
  background-color: antiquewhite;
  text-align: center;
}

#confirmMessage {
  font-size: 25px;
}

.confirmation {
  height: 30px;
  width: 60px;
  margin-left: 28px;
  color: white;
  font-weight: bold;
}

.cancelForm {
  font-weight: bold;
  color: white;
}

.cancelButtonColor {
  background-color: red;
}

.addButtonColor {
  background-color: green;
}

.success {
  background-color: rgb(255, 246, 246);
  width: 40%;
  margin-left: 30%;
  height: 30%;
  padding: 2%;
  position: absolute;
  z-index: 3;
  display: none;
}

.successMessage {
  text-align: center;
  align-items: center;
}
